.inv-badge-danger{
    color: #fff;
    display: inline-flex;
    font-size: 11px;
    justify-content: center;
    min-width: 70px;
    min-height: 28px;
    line-height: 2;
    background-color: red;
}
.inv-badge-success{
    color: #fff;
    display: inline-flex;
    font-size: 11px;
    justify-content: center;
    min-width: 70px;
    min-height: 28px;
    line-height: 2;
    background-color: green;
}
.inv-badge-warning{
    color: #fff;
    display: inline-flex;
    font-size: 11px;
    justify-content: center;
    min-width: 70px;
    min-height: 28px;
    line-height: 2;
    background-color: yellow;
}
.inv-badge-primary{
    color: #fff;
    display: inline-flex;
    font-size: 11px;
    justify-content: center;
    min-width: 70px;
    min-height: 28px;
    line-height: 2;
    background-color: #0077f7;
}

.thumb{
	margin: 0px 10px 0 0;
    width: 100px;
    height: 100px;
}

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
    top: 70px !important;
    right: 0 !important;
    bottom: auto !important;
    left: auto !important;
}
body.swal2-toast-shown .swal2-container {
    box-sizing: border-box !important;
    width: 360px !important;
    max-width: 100% !important;
    background-color: transparent !important;
    pointer-events: none !important;
}